{% extends "dashboard/base.html" %}

{% block content %}

<h1 class="page-title">Per Device status</h1>

<div class="device-table">
    <div class="table-header">Device</div>
    <div class="table-header">Current</div>
    <div class="table-header">Failing since SHA</div>
    <div class="table-header">Last good SHA</div>
</div>

{% for d in device_results %}
<div class="device-table">
    <div class="table-cell">
        {{d.name}}
    </div>

    <div class="{{d.last_run.status}} status-cell">
        <a class="result" href="{{d.last_run.pipeline_result.mesa_url}}">
            {{d.last_run.pipeline_result.mesa_sha | slice:":10"}}
        </a>
    </div>
    {% if d.first_bad_run %}
    <div class="{{d.first_bad_run.status}} status-cell">
        <a class="result" href="{{d.first_bad_run.pipeline_result.mesa_url}}">
            {{d.first_bad_run.pipeline_result.mesa_sha | slice:":10"}}
        </a>
    </div>
    {% else %}
    <div class="pass status-cell">
        all good
    </div>
    {% endif %}

    {% if d.last_good_run %}
    <div class="{{d.last_good_run.status}} status-cell">
        <a class="result" href="{{d.last_good_run.pipeline_result.mesa_url}}">
            {{d.last_good_run.pipeline_result.mesa_sha | slice:":10"}}
        </a>
    </div>
    {% else %}
    <div class="fail status-cell">
        no good runs yet
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock content %}